- @page_title = "Thumblebee: Get a ride to #{@event.name}"

= render :partial => 'events/header'

%p#add_ride
  - if 'show' == controller.action_name
    %strong Giving a ride?
    Fill out the
    %a#toggle_link{:href=>'#'} add a ride
    form.

#ride_form
  - if flash[:errors]
    .errors
      %h3 Oops! Please check your info and try again.
  - form_for @ride, :url => rides_path(@event) do |f|
    = render :partial => 'rides/form', :locals => { :f => f }
    %p
      = submit_tag "Add ride"
      or
      %strong
        = link_to('Cancel', event_path(@event), :id => 'cancel_ride')
  %br/
- if 'show' == controller.action_name
  %script{:type=>'text/JavaScript'} new Fx.Slide('ride_form').hide()

%p
  %strong Need a ride?
  - if @event.available_rides.any?
    Click any listing below for more details and contact information.
  - else
    Sorry, you'll have to check back later. No one has posted a ride yet.

= render :partial => "rides/ride_div" if @event.available_rides.any?

= render :partial => "shared/event_footer"