= "Hi #{@ride.driver},"

= "Thanks for posting a ride to #{@ride.event.name}."

To edit the details of your listing or to update your available seats 
when someone requests a ride, use the following link. Please save 
this link, it is the only way to modify your posting.

= ride_url(:event_id => @ride.event.slug, :id => @ride.auth)

\------------------------------------------------------------
= render :partial => 'shared/email_footer'
\------------------------------------------------------------