= "Hi #{h @ride.driver},"

= "Thanks for posting a ride to #{h @ride.event.name}."

To edit the details of your listing or to update your available seats (when someone requests a ride), use the following link. Please save this link, it is the only way to change your information.

= ride_url(:event_id => @ride.event.slug, :id => @ride.auth)

Thanks again,
= h @ride.event.contact

(If you did not post this listing, please contact josh@thumblebee.com)