%tr{:class=>"ride #{style}"}
  %td
    = image_tag 'car_silver_16.gif', :style => "float:left;margin-right:4px;"
    %h3.ride_header= h ride.location
  %td= pluralize ride.seats, 'passenger'
%tr{:class=>style}
  %td{:colspan=>2}
    .ride_body
      %p
        %strong Who's driving?
        = ride.email.blank? ? h(ride.driver) : mail_to(ride.email, h(ride.driver), :encode => 'javascript')
        = h(ride.phone) unless ride.phone.blank?
      - unless ride.comment.blank?
        %p
          %strong Notes:
          = h ride.comment