%tr{:class=>"ride #{style}"}
  %td{:class=>"ride_#{ride.id}"}
    = image_tag 'car_silver_16.gif', :style => "float:left;margin-right:4px;"
    %h3.ride_header= h ride.location
  %td{:class=>"ride_#{ride.id}"}= pluralize ride.seats, 'passenger'
%tr{:class=>style}
  %td{:colspan=>2, :class=>"ride_#{ride.id}"}
    .ride_body
      %p
        %strong Who's driving?
        = ride.email.blank? ? h(ride.driver) : mail_to("#{ride.anonymail}@thumblebee.com", h(ride.driver), :encode => 'javascript')
      - unless ride.comment.blank?
        %p
          %strong Notes:
          = h ride.comment