!!!
%html{:xmlns=>"http://www.w3.org/1999/xhtml", :version=>"-//W3C//DTD XHTML 1.1//EN", 'xml:lang'=>"en"}
  %head
    %meta{'http-equiv'=>'Content-Type', :content=>'application/xhtml+xml; charset=utf-8'}/
    %title= @page_title
    = stylesheet_link_tag 'reset', 'fancypants', 'pieman'
    = javascript_include_tag "mootools", "application"
    / = calendar_date_select_includes
    %link{:rel=>'shortcut icon', :href=>'/favicon.ico', :type=>'image/vnd.microsoft.icon'}/
    %link{:rel=>'icon', :href=>'/favicon.ico', :type=>'image/vnd.microsoft.icon'}/
  %body
    #main_top
    #main
      = yield
      %p.small
        = "For questions about #{h @event.name}, "
        = "please contact #{mail_to @event.email, h(@event.contact), :encode => 'javascript'}."
        %br/
        = "For questions or technical issues regarding Thumblebee,"
        = "please contact #{mail_to THUMBLEBEE::ADMIN_EMAIL, THUMBLEBEE::ADMIN_EMAIL, :encode => 'javascript'}."
    #main_bottom
    #footer
      = "&copy; #{Date.today.year} Thumblebee.com"